
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    }
    
    .container-one{
        color: white;
        background-color:  rgb(28, 28, 92);
    
    }
    .right-work{
        margin-left: 20%;
        margin-right: 2%;
        padding-right: 2%;
        padding-left: 20%;
    }
    .left-work{
        margin-left: 4%;
        margin-right: 8%;
        margin-top: -28%;
        padding-bottom: 16%;
    }
    
    h1{
      font-size: 50px;
      font-weight: 500;
     
    }
    
    .intro{
        font-weight: bolder;
        background-color:  hsl(17, 100%, 71%);
        border-radius: 9px;
        width:150px;
        height: 45px;
        color: white;
    }    
    .special-effect:hover{
        color: indianred;
        font-size: 15px;
        background-color: rgb(124, 252, 0);
        color: white;
    }    
    
    .super-player img{
        width: 90%;
    }
    .super-player{
        margin-top: 2%;
        padding: 4%;
        padding-bottom: 6%;
        margin-left: 5%;
        padding-left: 3%;
        margin-right: 2%;
        padding-right: 2%;
     
    }
    
    
     .second{
        margin-top: 50px;
        margin-left: 6%;
        margin-right: 6%;
        padding: 2%;
    }
    
    .second img{
        padding-top: 3%;
    }
    
    .card{
        margin-top: 2%;
    }
    
    .card-title{
        font-size:x-large;
        font-weight: 400;
        
    }
    
    
    .card-footer{
        border:none;
        background-color: white;
        font-size: 10px;
        font-weight: 500;
        font-family: serif;
    }
    .third{
        margin-top: 50px;
        margin-left: 6%;
        margin-right: 4%;
        padding: 2%;
    }
    h3{
        font-size: 50px;
        font-weight: 600;
    }
    
    .third img{
        width: 100%;
        
    }
    .fourth img{
        width:30%;
       margin-bottom: 3%;
    }
    
    .fab fa{
        width: 150%;
        padding:4%;
        margin: 2%;
        padding-bottom: 2%;
       
    } 
    .container-last{
        background-color: black;
        color: white;
    }
     
    footer{
      font-size: medium;
      color:black;
      text-align:center;
    
    }
    
    